<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:mem:testdb;INIT=RUNSCRIPT FROM 'classpath:create_tables.sql'\;RUNSCRIPT FROM 'classpath:populate.sql';DB_CLOSE_DELAY=-1" />
    </bean>

    <bean id="goodDao" class="app.dao.impl.GoodDaoImpl">
        <constructor-arg ref="dataSource" />
    </bean>

    <bean id="orderDao" class="app.dao.impl.OrderDaoImpl">
        <constructor-arg ref="dataSource" />
    </bean>

    <bean id="orderGoodsDao" class="app.dao.impl.OrderGoodsDaoImpl">
        <constructor-arg ref="dataSource" />
    </bean>

    <bean id="userDao" class="app.dao.impl.UserDaoImpl">
        <constructor-arg ref="dataSource" />
    </bean>

    <bean id="contextUtil" class="app.service.ContextUtil">
    </bean>

    <bean id="userService" class="app.service.impl.UserService">
        <constructor-arg ref="userDao" />
    </bean>

    <bean id="orderService" class="app.service.impl.OrderService">
        <constructor-arg ref="orderDao" />
    </bean>

    <bean id="orderGoodsService" class="app.service.impl.OrderGoodsServiceImpl">
        <constructor-arg ref="orderGoodsDao" />
        <constructor-arg ref="goodDao" />
    </bean>

</beans>
